
:root{
	/* primary */
	--gold: #d4c89e;
	--black: #30251c;
	--black20: #c2bcb8;
	--black50: #80766e;
	--silver: #ffffff;
	/* secondary */
	--peachy: #ed8f7b;
	--dusty_blue: #7ba6ad;
	--sun_yellow: #fdc46f;
}

:root{


    --MAIN-TEXT-color: var(--black); /* Color of text by default */
    --MAIN-TITLES-TEXT-color: var(--black); /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color: var(--peachy); /* Color of links */
    --MAIN-LINK-HOVER-color: var(--sun_yellow); /* Color of hovered links */
    --MAIN-ANCHOR-color: var(--dusty_blue); /* color of anchors on titles */

    --MENU-HOME-LINK-color: var(--peachy); /* Color of the home button text */
    --MENU-HOME-LINK-HOVER-color: var(--sun_yellow); /* Color of the hovered home button text */

    --MENU-HEADER-BG-color: var(--gold); /* Background color of menu header */
    --MENU-HEADER-BORDER-color: var(--black); /*Color of menu header border */

    --MENU-SEARCH-BG-color: var(--black50); /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: var(--black); /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: var(--black); /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color: var(--silver); /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color: var(--black); /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: var(--silver); /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: var(--peachy);  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: var(--black); /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: var(--silver); /* Color of background for the active category (only) */
    --MENU-SECTION-ACTIVE-TOPICS-BG-color: var(--black); /* Color of background for the active category (only) */

    --MENU-VISITED-color: var(--silver); /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: var(--silver); /* Color of <hr> separator in menu */

}

body {
    color: var(--MAIN-TEXT-color) !important;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

/* Non-shouting titles */
h1 {
    font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    text-align: center;
    color: #222;
    font-weight: 200;
    text-transform: None;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

#body a {
    font-weight: bold;
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
    background-color: var(--MENU-SECTIONS-BG-color);
    font-weight: bold;
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTION-ACTIVE-TOPICS-BG-color);
}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

#body .tags a.tag-link {
    background-color: var(--MENU-HEADER-BG-color);
}

#body .tags a.tag-link:before {
    border-right-color: var(--MENU-HEADER-BG-color);
}

#homelinks {
  background: var(--MENU-HEADER-BG-color);
  background-color: var(--MENU-HEADER-BORDER-color);
  border-bottom-color: var(--MENU-HEADER-BORDER-color);
}

#homelinks a {
  color: var(--MENU-HOME-LINK-color);
}

#homelinks a:hover {
  color: var(--MENU-HOME-LINK-HOVERED-color);
}

/* notice shortcode */
div.notices {
    margin: 2rem 0;
    position: relative;
}

div.notices h1:first-child:before {
    position: absolute;
    top: 2px;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f06a";
    left: -30px;
}

div.notices h1:first-child {
    content: 'Note';
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    text-align: left;
    text-indent: 40px;
    font-size: 20px !important;
    width: 100%;
}

div.notices p {
    padding: 15px;
    display: block;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #666;
    padding : 0;
    line-height : 30px;
    text-align: left !important;
    text-indent: 2em;
    margin-left: 1rem;
    margin-right: 0.5rem;
}

div.notices p:first-child:after {
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
}
div.notices ul {
    line-height : 30px;
    margin-top:3px;
    margin-bottom:1px;
}

div.notices.info {
    background: #D3CFCB;
}
div.notices.info h1:first-child {
    background: #30251c;
}
div.notices.info p {
    border-top: 0px solid #30251c;
    background: #D3CFCB;
}
div.notices.info p:first-child:after {
    content: 'Info';
}
div.notices.info ul {
    border-top: 0px solid #D3CFCB;
}
div.notices.info li:last-child {
    border-bottom: 30px solid #D3CFCB;
}


div.notices.warning p {
    border-top: 30px solid #ed8f7b;
    background: #F9DFD5;
}
div.notices.warning h1:first-child {
    background: #ed8f7b;
}
div.notices.warning p {
    border-top: 0px solid #ed8f7b;
    background: #F9DFD5;
}
div.notices.warning p:first-child:after {
    content: 'Warning';
}
div.notices.warning ul {
    border-top: 0px solid #F9DFD5;
}
div.notices.warning li:last-child {
    border-bottom: 30px solid #F9DFD5;
}


div.notices.note {
    background: #F6F4EC;
}

div.notices.note h1:first-child {
    background: #d4c89e;
}

div.notices.note p {
    border-top: 0px solid #000;
    background: #F6F4EC;
}
div.notices.note p:first-child:after {
    content: 'Note';
    background: #d4c89e
}
div.notices.note ul {
    border-top: 0px solid #F6F4EC;
}
div.notices.note li:last-child {
    border-bottom: 30px solid #F6F4EC;
}


div.notices.tip p {
    border-top: 30px solid #7ba6ad;
    background: #D8E1E4;
}
div.notices.tip h1:first-child {
    background: #7ba6ad;
}
div.notices.tip p {
    border-top: 0px solid #7ba6ad;
    background: #D8E1E4;
}
div.notices.tip p:first-child:after {
    content: 'Tip';
}
div.notices.tip ul {
    border-top: 0px solid #D8E1E4;
}
div.notices.tip li:last-child {
    border-bottom: 30px solid #D8E1E4;
}

